
* {

    text-transform: uppercase;
    font-family: "DM Sans", sans-serif;
}

#white {
    background-color: white;
}


.padding {
    padding: 100px;
}



header {

    background-color: black;
    color: white;

}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar p {
    font-size: 24px;
    font-weight: 700;
}

.navbar nav {
    display: flex;
    gap: 50px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* ---------------- HERO ---------------- */

.hero .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Colonne gauche */
.d-column {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.d-column h2 {
    font-size: 20px;
    font-weight: 400;
    color: #a1a1a1;
}

.d-column h1 {
    font-size: 70px;
    line-height: 70px;
    font-weight: 700;
}

.d-column p {
    font-size: 18px;
    width: 60%;
}

.d-column a {
    margin-top: 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 18px 40px;
    border: 1px solid white;
    width: fit-content;
}

/* Image à droite */
.hero-left {
    width: 31%;
    height: auto;
}





/* ---------------- SERVICES ---------------- */

.container > h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
}

.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; /* ➜ Centre tout, dont l’image */
}

 .cardcontainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

}

.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card img {
    width: 100%;
}

.card-title {
    font-size: 22px;
    letter-spacing: 1px;
}

.card-description {
    font-size: 16px;
    width: 90%;
    line-height: 22px;
}

.container img {
    width: 55%;
    margin-right: 30px;
}

/* ---------------- LOGOS MARQUES ---------------- */
    

.logos-section {
    background-color: #000;
    padding: 60px 0; /* optionnel pour aérer */
}

.containerlogo div {
    display: flex;
    justify-content: center;
    gap: 115px;
    
}

.containerlogo img {
    width: -5px;
    
}


/* ---------------- RÉALISATIONS ---------------- */

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
    gap: 40px;
}

.wrapper div {
    width: 30%;
}

.wrapper img {
    width: 100%;
}

.wrapper h2 {
    font-size: 20px;
    margin-top: 10px;
}

.wrapper p {
    font-size: 16px;
    line-height: 22px;
    width: 95%;
}

/* ---------------- TÉMOIGNAGES ---------------- */


.carte {

    background-color: rgba(207, 209, 212, 0.521);
    width: 347px;
    border-radius: 32px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 24px;
    text-align: center;
    box-shadow: 0 4px 15px #4640f040;
}
.carte-container{
    width: 1200px;
    background-color: rgb(109, 112, 115);
    display: flex;
   
    gap: 38px;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.wrapperavis {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin-top: 60px;
    gap: 40px;
 
/* ---------------- FOOTER ---------------- */

footer {
    width: 100%;
    background-color: black;
    color: white;
}

footer p {
    width: 60%;
    font-size: 18px;
    line-height: 26px;
}

footer input {
    width: 280px;
    padding: 12px;
    margin-right: 20px;
    background-color: white;
    border: none;
}

footer a {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 12px 40px;
    font-weight: 700;
}

.hero {
    width: 100%;
    margin-top: 80px;
}

.d-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

padding footer{
    background-color: #000;
}